<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <button class="btn btn-dark m-1" type="button" (click)="allPictures()">
      Todas
    </button>
    <button class="btn btn-dark m-1" type="button" (click)="messagesPictures()">
      Con mensajes
    </button>
    <button
      class="btn btn-dark m-1"
      type="button"
      (click)="noMessagesPictures()"
    >
      Sin mensajes
    </button>
  </form>
</nav>

<ul class="box-pictures">
  <li
    *ngFor="let picture of picturesStore.listaPicturesPublica$ | async"
    style="list-style-type: none"
  >
    <app-picture-box-home [picture]="picture"> </app-picture-box-home>
  </li>
</ul>
