<div class="card text-white bg-dark mb-2" style="width: 18rem">
  <img
    class="card-img-top"
    src="{{ picture.urlPicture }}"
    alt="{{ picture.description }}"
  />
  <div
    class="picture-delete"
    *ngIf="(userStore.userPublico$ | async)?.id?.includes(picture.userId.id)"
  >
    <div class="box-trash-picture">
      <i
        class="fas fa-trash-alt fa-2x deletePicture"
        (click)="deletePicture(picture.id)"
      ></i>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ picture.userId.nombreUsuario }}</h5>
    <img
      src="{{ picture.userId.urlFotoUser }}"
      alt="{{ picture.userId.urlFotoUser }}"
      class="rounded float-left"
      height="45"
    />
    <p class="card-text">
      {{ picture.description }}
    </p>

    <ng-container *ngIf="messageList; then openList; else closeList">
    </ng-container>

    <ng-template #openList>
      <ul class="list-group box-message">
        <li
          *ngFor="let message of picture.messageId"
          style="list-style-type: none"
          class="list-group-item"
        >
          <div
            class="message-delete"
            *ngIf="
              (userStore.userPublico$ | async)?.id?.includes(
                picture.userId.id
              ) ||
              (userStore.userPublico$ | async)?.id?.includes(message.userId.id)
            "
          >
            <div class="box-trash-message">
              <i
                class="fas fa-trash-alt fa-2x deleteMessage"
                (click)="deleteMessage(message.id)"
              ></i>
            </div>
          </div>
          <img
            src="{{ message.userId.urlFotoUser }}"
            alt="{{ message.userId.urlFotoUser }}"
            class="rounded float-left"
            height="35"
          />
          <p>
            {{ message.userId.nombreUsuario }}
          </p>
          <p>
            {{ message.messageText }}
          </p>
        </li>
      </ul>
      <div class="list-group">
        <form
          [formGroup]="messageForm"
          autocomplete="off"
          (ngSubmit)="onSudmit()"
        >
          <label class="form-label mt-3" for="messageText"
            >Enviar Mensajes:</label
          >
          <input
            class="form-control"
            id="messageText"
            type="text"
            formControlName="messageText"
            maxlength="100"
          />

          <div *ngIf="f.messageText.touched && f.messageText.invalid">
            <small class="text-danger" *ngIf="f.messageText.errors?.required">
              Necesaro mensajes...
            </small>
          </div>

          <button
            type="submit"
            [disabled]="!messageForm.valid"
            class="btn btn-success m-1"
          >
            Enviar
          </button>
        </form>
      </div>
      <button class="btn btn-danger mt-3" (click)="closeListButton()">
        Comentarios ({{ picture.messageId.length }})
      </button>
    </ng-template>
    <ng-template #closeList>
      <button class="btn btn-primary" (click)="openListButton()">
        Comentarios ({{ picture.messageId.length }})
      </button>
    </ng-template>
  </div>
</div>
