<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <button class="btn btn-dark m-1" type="button" (click)="allPictures()">
      <i class="far fa-comment-dots"></i>
    </button>
    <button class="btn btn-dark m-1" type="button" (click)="messagesPictures()">
      <i class="far fa-comments"></i>
    </button>
    <button
      class="btn btn-dark m-1"
      type="button"
      (click)="noMessagesPictures()"
    >
      <i class="far fa-comment"></i>
    </button>
  </form>
</nav>

<ul class="box-pictures">
  <li
    *ngFor="let picture of picturesStore.listaPicturesPublica$ | async"
    style="list-style-type: none"
  >
    <app-picture-box-user [picture]="picture"> </app-picture-box-user>
  </li>
</ul>
